
<% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
<h4> below users are waiting for approval </h4>
<% @emp_pro.each do |x| %>
    <% if !(x.isapproved) && !(x.isrejected) %>
    <%=link_to x.name, edit_employee_profile_path(x) %>
    <br> <br>
    <% end %>
    <% end %>

<% end %>

<%= link_to 'Back', root_path %>
