<div class="order-img">
<%= image_tag ("/assets/img2.jpg"), class: "img-responsive"%>
<div class="order-button">

<%= link_to "Create Order", carts_path, class:"btn btn-primary" %> <br> <br>

</div>
</div>


