<h2> this is food store show page </h2>

<p> <%=@foodstores.name %> </p>

<p> <%= link_to "Edit", edit_foodstore_path %> </p>

<%= button_to "Destroy this Food store", @foodstores, method: :delete %>
