<h3> Edit the food category name </h3>


<%= form_with model: @foodcategories do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>