<% if @foodcategories.present? %>
<h2 class="text-center" >Foodcategories</h2>

<% @foodcategories.each do |x| %>
    <%= link_to x.name, x %> <br><br>
<% end %>
<% end %>


<br> <br> <br>
<h2 class="text-center" >Add new category </h2>

<% if admin?  %>
    <%= render 'form' %>
<% end %>

