<h1>Foodcategories#index</h1>
<p>Find me in app/views/foodcategories/index.html.erb</p>

<% @foodcategories.each do |x| %>
    <%= link_to x.name, x %> <br><br>
<% end %>

<br> <br> <br>
    <%= link_to "Add new foodcategory", new_foodcategory_path %>
