<h2>Foodcategories</h2>

<% @foodcategories.each do |x| %>
    <%= link_to x.name, x %> <br><br>
<% end %>

<br> <br> <br>
<% if Current.user  %>
    <% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
        <%= link_to "Add new foodcategory", new_foodcategory_path %>
    <% end %>
<% end %>

