<div class="d-flex justify-content-around admin-page">
  <%= link_to 'Approvals', approvals_path, class:"btn btn-primary" %>
  <%= link_to 'Add Food', food_categories_path, class:"btn btn-primary" %>
  <%= link_to 'Add Companies', companies_path, class:"btn btn-primary" %>
  <%= link_to "Export Users to Excel", customers_path(format: :xlsx), class:"btn btn-primary" %>

</div>
