<%= form_with(model: @company) do |f| %>
  <div class="card-body">
    <div class="mb-3">
      <%= f.label :name, { class: "form-label"} %>
      <%= f.text_field :name, { class: "form-control", placeholder: "Food category Name" } %>
    </div>
    <%= f.submit "Add Company", class: "btn btn-primary" %>
  </div>
<% end %>