<div class="bg-image" style="background-image: url('https://health.clevelandclinic.org/wp-content/uploads/sites/3/2021/01/fastFoods1-1199461884-770x533-1.jpg');">



<%= link_to "Create order", carts_path %> <br> <br>

<%= button_to 'Logout', logout_path, method: :delete %> <br><br>

</div>