
    <% @chef_pro.each do |x| %>
        <% if Current.user.id==x.user_id %>
    <% if !(x.isapproved) && !(x.isrejected) %>
    <p> Please wait the admin have to approve you</p>
    <% elsif x.isrejected %>
    <%= %>
    <% else %>
    <h4>Admin approved your profile </h4>
    <%= link_to 'Click here to continue', x %>
    <% end %>
    <% end %>
    <% end %>

    <% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
    <h4> below users are waiting for approval </h4>
    <% @chef_pro.each do |x| %>
        <% if !(x.isapproved) && !(x.isrejected) %>
        <%=link_to x.name, edit_chefprofile_path(x) %>
        <br> <br>
        <% end %>
        <% end %>
    
    <% end %>