<% if validate_chef? %>
  <div class="d-flex justify-content-evenly chef-dash" >
    <%= link_to "Add Food Items", [@fstore.food_category, @fstore], class:"btn btn-primary" %> <br><br>
    <%= link_to "Gallery", edit_chefprofile_path, class:"btn btn-primary" %> <br>
  </div>
<% else %>
  <h5> You need admin approval for processing orders </h4>
<% end %> <br>




